<div style="text-align:center">
  <link rel = 'https://img.purch.com/rnb/330x227/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzA2MC8wNzIvb3JpZ2luYWwvc2h1dHRlcnN0b2NrX3RlbGVzY29wZV9naXJsLmpwZw=='>
  <div class = 'navBar'>
    <a class ='active' href = '/search'>Search</a>
    <a href  = '/collections'> Collections</a>
    <a href = '/login'>Sign In</a>
    <a href = '/signUp'>Create Account</a>
    <a (click) = signOut()>Sign Out</a>
  </div>

  <h1>
    Welcome to NASA Image Search!
  </h1>
</div>

<div id = 'signInMsg' [hidden] = 'verified'>
  <p style = 'text-align: center'>
    Are you lost? You need to sign in to search NASA's awesome images.
  </p>
</div>


<div id = 'searchPage' [hidden] = '!verified'>

  <div id = 'search'>
    <p id = 'searchTitle'>
      Search for Images
    </p>
    <form id = 'searchForm'>
      <input id = 'imageSearch' name = 'searchInput' type = 'text'  [(ngModel)] = searchCriteria>
      <br><br>
      <button id = 'searchBtn' (click) = "searchImages()">Search</button>
    </form>
  </div>

  <div>
    <ul class = 'imageList'>
      <li *ngFor = "let image of images">
        <button id = 'imageOptions' (click) = getCollections(image)>
          <img src = {{image}}>
        </button>
      </li>
    </ul>
  </div>

  <div id = 'addToCollection' class = 'modal'>
    <div class = 'modal-content'>
      <span class = "close"></span>
      <p>Select the collection you'd like to add your image to:</p>
      <select title ='sectionForm' name = 'selectCollection' [(ngModel)] = 'selectedCollection'>
        <option value = ' ' disabled selected>Select Collection</option>
        <option *ngFor = "let collection of collections">
          {{collection.name}}
        </option>
      </select>
      <input type = 'submit' (click) = addToCollection() value = 'Add'>
    </div>
  </div>

  <div id = 'successAdd' class = modal>
    <div class = 'modal-content'>
      <p>
        {{AddSuccessMsg}}
      </p>
      <button id = 'close' (click) = closeModal()>THANKS!</button>
    </div>
  </div>

</div>
