<div style="text-align:center">
  <div class = 'navBar'>
    <a class ='active' href = '/search'>Search</a>
    <a href = '/login'>Login</a>
    <a href = '/signUp'>Create Account</a>
    <a href  = '/collections'> Collections</a>
  </div>

  <h1>
    Welcome to NASA Image Search!
  </h1>
</div>
<br><br>
<p>
  Search for Images
</p>
<div>
  <form >
    <input  name = 'searchForm' type = 'text' id = 'imageSearch' [(ngModel)] = searchCriteria>
    <button id = 'search' (click) = "searchImages()">Search</button>
  </form>
</div>
<div>
  <ul class = 'imageList'>
    <li *ngFor = "let image of images">
      <img src = {{image}}>
    </li>
  </ul>
</div>

